/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import "mocha.css";

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
  color: @lavender;
  border: 0;
  padding: 0 0;
  font-family: "FiraCode Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar,
window#waybar.empty,
window#waybar.empty #window {
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
  color: @base;
  border-radius: 50%;
  margin: 0px 0px;
  padding: 4px 6px 2px 0px;
  margin: 0px 8px 0px 8px;
}

#workspaces button:hover {
  color: @mauve;
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  border: 0px;
  background: none;
}

#workspaces button:hover * {
  color: @mauve;
}

#workspaces * {
  color: @rosewater;
}

#workspaces {
  /* border-style: solid; */
  background-color: @base;
  opacity: 1;
  border-radius: 15px;
  margin: 8px 8px;
}

#workspaces button.focused {
  color: @mauve;
  border-radius: 20px;
  /* background-color: @flamingo; */
}

#workspaces button.focused * {
  color: @mauve;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.urgent * {
  color: @red;
}

#mode {
  color: @yellow;
}

#window,
#clock,
#custom-swap,
#cava,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#language,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#privacy,
#custom-power,
#custom-pacman,
#custom-launcher,
#keyboard-state,
#custom-spotify {
  padding: 5px 8px;
  border-style: solid;
  background-color: @base;
  opacity: 1;
  margin: 8px 0;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
#window {
  color: @pink;
  border-radius: 15px;
}

#custom-spotify {
  border-radius: 15px;
  background-color: @base;
  color: @mauve;
}

#cava {
  border-radius: 15px;
  color: @mauve;
}

#custom-swap {
  border-radius: 15px;
  color: @base;
  margin-left: 5px;
  background-color: @mauve;
}

#clock {
  color: @sky;
  border-radius: 15px;
  margin: 8px 10px;
}

#backlight {
  color: @yellow;
}

#idle_inhibitor {
  color: @lavender;
  border-radius: 15px 0 0 15px;
  padding-right: 10px;
}

#battery {
  color: @rosewater;
  border-radius: 0 15px 15px 0;
  margin-right: 10px;
}

#battery.charging {
  color: @blue;
}

@keyframes blink {
  to {
    color: @red;
  }
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: @sapphire;
}

#cpu #cpu-icon {
  color: @sapphire;
}

#memory {
  color: @sky;
}

#network.disabled {
  color: @red;
}

#network {
  color: @green;
  border-radius: 15px;
  margin-right: 5px;
}

@keyframes blink-update {
	to {
		color: @sapphire;
	}
}

#custom-pacman {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  color: @mauve;
  border-radius: 15px;
  padding-right: 12px;
  margin-right: 5px;
}

#custom-pacman.pending-updates {
  animation-name: blink-update;
	animation-duration: 3s;
}

#network.disconnected {
  color: @red;
}

#pulseaudio.audio {
  color: @flamingo;
}

#pulseaudio.audio.bluetooth {
  color: @blue;
}

#pulseaudio.audio.muted {
  color: @red;
}

#pulseaudio.microphone {
  color: @flamingo;
}

#pulseaudio.microphone.source-muted {
  color: @red;
}

#temperature {
  color: @teal;
  border-radius: 15px 0 0 15px;
}

#temperature.critical {
  color: @red;
}

#tray {
  margin: 8px 0px;
  border-radius: 15px;
}

#custom-launcher,
#custom-power {
  color: @base;
  padding: 0px 5px 0px 10px;
}

#custom-launcher {
  background-color: @mauve;
  border-radius: 15px;
  margin-left: 15px;
}

#custom-power {
  background-color: @red;
  border-radius: 15px;
  padding-right: 13px;
  margin-left: 5px;
  margin-right: 15px;
}

#window {
  border-style: hidden;
  margin-left: 10px;
  margin-right: 10px;
  color: @rosewater;
}

#mode {
  margin-bottom: 3px;
}

#custom-keyboard-layout {
  color: @peach;
  border-radius: 0 15px 15px 0;
  margin-right: 10px;
}

#language {
  color: @peach;
  border-radius: 0 15px 15px 0;
  margin-right: 10px;
}

#privacy {
  color: @red;
  border-radius: 15px;
  margin-left: 5px;
  background-color: @base;
}

#keyboard-state {
  color: @teal;
  border-radius: 15px;
  padding-right: 12px;
  margin-right: 5px;
}
